*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    color: rgb(19, 11, 88);
    font-size: 1.2rem;
}

header{
    background-color: rgb(0, 0, 255);
}

nav a{
    margin-right: 8px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    padding: 0px 4px;
    background-color: rgba(143, 36, 36, 0.3);
    border-radius: 18px;
}

img{
    border-radius: 18px;
}

button,input{
    color: white;
    font-size: 1.1rem;
    text-align: center;
    background-color: black;
    border-radius: 8px;
    margin-top: 8px;
}

#resposta{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    text-align: center;
}
